/* Colors (http://flatcolors.net/palette/783-flatwork)
 - Grey: #F0F1F5
 - Dark blue: #112233
 - Green: #66CC99
 - Light blue: #44BBFF
 - Pink: #FC575E
*/

body {
  font-family: 'Raleway', sans-serif;

  margin: 0px;
  padding: 0px;
}

#top-nav-bar {
  background-color: #112233;
  color: #F0F1F5;
  width:100%;
  position: fixed;
  top: 0;
}
