/* Colors (http://flatcolors.net/palette/783-flatwork)
 - Grey: #F0F1F5
 - Dark blue: #112233
 - Green: #66CC99
 - Light blue: #44BBFF
 - Pink: #FC575E
*/

/* ********** body ********** */
body {
  font-family: 'Raleway', sans-serif;
  color: #112233;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration:none;
  color: inherit;
}

.img-circle {
    border-radius: 50%;
}

#top {
  display: none;
}

/* ********** top nav bar ********** */
#top-nav-bar {
  width:100%;
  height: 50px;
  position: fixed;
  top: 0;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 50px;
  text-align: center;

  background-color: #66CC99;
  color: #F0F1F5;
  transition: 0.5s ease;
}

#top-nav-bar.scrolled-mid {
  background-color: #44BBFF;
  color: #F0F1F5;
}

#top-nav-bar.scrolled-bottom {
  background-color: #112233;
  color: #F0F1F5;
}

#top-nav-bar-left {
  display: inline-block;
  float: left;
}

#top-nav-bar-right {
  display: inline-block;
  float: right;
}

#top-nav-bar-home-button {
  display: inline-block;
  float: left;
  height: 40px;
  width: 40px;
  margin-left: 5px;
  margin-top: 5px;
  background-image: url('../img/JFJ_favicon.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /*border: 2px solid #44BBFF;*/
  border-radius: 10px
}

.top-nav-bar-item {
  display: inline-block;
  float: right;
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 4px;
  margin-right: 4px;
}

.top-nav-bar-item:hover {
  color: #66CC99;
}

#top-nav-bar-dropdown-button {
  display: none;
}

.top-nav-bar-dropdown-content {
  display: none;
}

.top-nav-bar-dropdown-content a {
  display: block;
  padding-right: 20px;
  line-height: 30px;
  text-align: right;
  border-bottom: 1px solid #F0F1F5;
}

#top-nav-bar-dropdown:hover .top-nav-bar-dropdown-content {
  display: block;
}


/* ********** main title ********** */
#main-title {
  padding-top: 50px;
  background-color: #66CC99;
  color: #F0F1F5;
  text-align: center;
  padding-bottom: 100px;
}

#main-title-headshot {
  height:50vw;
  max-height: 500px;
}

/* spin effect on main-title-headshot
/*@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
#main-title-headshot:hover {
  -webkit-animation:spin 20s linear infinite;
  -moz-animation:spin 20s linear infinite;
  animation:spin 20s linear infinite;
}*/

#main-title-header {
  font-size: 85px;
  display: inline-block;
  margin-top: 40px;
}

#main-title-header-description {
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.link-bar {

}

.link-bar-item {
  display: inline-block;
}

/* ********** panels ********** */
.panel {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.panel-title {
  font-size: 50px;
}

.panel-contents p {
  font-size: 20px;
}

.panel-contents h2 {
  font-size: 35px;
}

/* ********** footer ********** */
#footer {
  width: 100%;
  height: 80px;
  background-color: #112233;
  color: #F0F1F5;
  font-size: 18px;
  line-height: 80px;
  text-align: center;
  vertical-align: middle;
}

#footer-left {
  display: inline-block;
  float: left;
  padding-left: 10px;
}

#footer-right {
  display: inline-block;
  float: right;
}

.footer-item {
  display: inline-block;
  float: right;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 30px;
  width: 56px;
}

#footer-strava {
  height: 30px;
  width: 30px;
  margin-top: 24px;
  margin-left: 17px;
  margin-right: 17px;
  background-repeat: no-repeat;
  background-image: url('../img/brand-icons/svg/strava-icon-grey-on-blue.svg');
}

#footer-strava:hover {
  background-image: url('../img/brand-icons/svg/strava-icon-orange-on-blue.svg');
}

#footer-codecademy {
  height: 30px;
  width: 30px;
  margin-top: 24px;
  margin-left: 17px;
  margin-right: 17px;
  background-repeat: no-repeat;
  background-image: url('../img/brand-icons/svg/codecademy-icon-grey.svg');
}

#footer-codecademy:hover {
  background-image: url('../img/brand-icons/svg/codecademy-icon-green.svg');
}

.fa-linkedin:hover {
  color: #0077b5;
}

.fa-instagram:hover {
  color: #e1306c;
}

.fa-twitter:hover {
  color: #1da1f2;
}

.fa-github:hover {
  color: #6cc644;
}

@media all and (max-width: 600px) {

  .top-nav-bar-item {display:none;}
  #top-nav-bar-dropdown-button {display:inline-block;}

  #footer-left {display: none;}

  #main-title-header {font-size: 50px;}

}


